* {
	text-decoration: none;
	list-style: none;
}

html {
	font-family: 'Source Code Pro', monospace;
	font-weight: 400;
	background-color:floralwhite;
	line-height: 25px;
}

body {
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 80px;
}

h1 {
	display: block;
	text-align: center;
}

#top-div {
	display: flex;
	justify-content: center;
}

ul {
	padding-left: 0;
}

/* #top-pic, #top-text {
	display: inline-block;
} */

#top-text {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.eric {
	color:peru;
	display: inline-block;
	transition: 0.3s;
}

.eric:hover {
	transform: scale(1.07) rotate(-3deg);
}

#headline {
	background-color: rgb(255, 237, 220);
	display: inline-block;
	text-align: center;
	padding: 15px;
	border-radius: 10px;
	transition: 0.3s;

}

#headline:hover {
	background-color: rgb(252, 212, 175);
	transform: scale(1.05);
}

#profile-pic {
	width: 150px;
	height: 150px;
	border-radius: 50px;
	margin: 50px;
	display: inline-block;
	border: 3px solid chocolate;
}

.it {
	color:darkcyan;
}

.music {
	color:blueviolet;
}

.technology {
	color:brown;
}

footer {
	padding: 10px;
	color: #777;
	font-size: 14px;
	text-align: center;
}

#bio {
	padding-left: 0;
}


#bio li {
	margin-bottom: 16px;
	display: flex;
}

.year {
	margin-right: 16px; /* 年とテキストの間に8pxのマージンを追加 */
	font-weight: bold;
	color:#626262;
}

a {
    color: inherit; /* This makes the link inherit the color of its parent element */
    text-decoration: none; /* This removes the underline */
}

/* Remove color for hover state */
a:hover {
    color: inherit;
	text-decoration: underline;
}

/* Remove color for visited state */
a:visited {
    color: inherit;
}

.navbar {
	background-color: rgba(223, 188, 153, 0.9);
	color: #fff;
	position: fixed;
	width: 100vw;
	height: 60px;
	top: 0;
	left: 0;
	z-index: 1;
	/* backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px); */
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-list {
	padding: 0;
	margin-left: 20%;
}

.nav-list li {
	display: inline; /* リストアイテムを水平に配置 */
	margin-right: 20px; /* リストアイテムの右側にマージンを追加 */
}

.nav-list li a {
	text-decoration: none; /* リンクの下線を削除 */
	color: #fff; /* リンクのテキストカラー */
	transition: 0.2s;;
}

.nav-list li a:hover {
	color: rgb(112, 75, 38);
}

.navbar .burger-menu {
	position: absolute;
	width: 40px;
	top: 0px;
	right: 0px;
	margin-right: 10px;
	margin-top: 10px;
	cursor: pointer;
	display: none;
	transition: 0.5s;
}

.burger-menu:hover {
	rotate: 180deg;
}

.links {
	display: flex;
	margin: 0;
	padding: 0;

}

.links ul {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

@media (max-width: 576px) {
	body {
		margin-left: 5%;
		margin-right: 5%;
	}
}

/* Mobile version */
@media (max-width: 768px) {
	.navbar .burger-menu {
		display: block;
	}

	.nav-list li {
	margin-right: 0px;
	margin-top: 25px;
	font-size: 1.2em;
	}
	
	/* .navbar.mobile-menu {
		backdrop-filter: none;
		-webkit-backdrop-filter: none;
	} */

	.nav-list {
		margin: 0;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background-color: rgba(205, 134, 63, 0.6);
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);
		margin-left: 100%;
		transition: all 0.5s ease;
	}

	.nav-list.mobile-menu {
		margin-left: 0;
	}
}

/* media query from 1400px width and larger, body margin is 30% */
@media (min-width: 1400px) {
	body {
		margin-left: 30%;
		margin-right: 30%;
	}
	.nav-list {
		margin-left: 30%;
	}
}

h3 img {
	margin-top: -5px;
	margin-left: 8px;
    vertical-align: middle;
}

hr {
	margin: 50px;
}

.responsive-iframe-container {
    position: relative;
    padding-bottom: 56.25%;  /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}

.responsive-iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.audio-container p {
	font-style: italic;
}

.credit {
	font-size: 0.8em;
	color: #777;
	margin-top: 0;
	text-align: center;
}

video {
	max-width: 100%;
	height: auto;
  }
  
.italic {
	font-style: italic;
}

h2, h3, h4, h5, h6 {
	scroll-margin-top: 60px;
  }

.music-table-of-content, .insta-link {
	text-decoration: underline;
}

.nav-list li .current-page {
    color: rgb(112, 75, 38);
}

.insta {
	display: flex;
	justify-content: center;
}

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

#top-div, #core-content {
	animation: fadein 1s ease-in-out;
}

.genre-div {
	display: none;
	animation: fadein 1s;
}

.genre:hover {
	/* underline */
	text-decoration: underline;
	cursor: pointer;
}